.lessons {
  background-color: #f1f1f1;
  padding: 12px 20px;
}

.lesson {
  margin-bottom: 12px;

  &_lock {
    width: 48px;
    height: 48px;
    color: #000;
    position: absolute;
    top: calc(50% - 24px);
    left: calc(50% - 24px);
  }

  &__header {
    font-size: 16px;
  }
}
