.card {
  display: flex;
  flex-direction: column;
  justify-items: stretch;
  flex: 1;
  border: 1px solid #ccc;
  position: relative;
  overflow: visible !important;
  background-color: #f5f5f5 !important;
  height: 100%;

  &__media {
    height: 300px;
  }

  &__video {
    object-fit: cover;
  }

  &__video,
  &__img {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
  }

  &_hidden {
    display: none !important;
  }

  &__title {
    margin: 0 !important;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px !important;
    height: 100%;
    justify-content: space-between;
  }

  &__details {
    z-index: 1000;
    box-shadow: 0 3px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    left: 0;
    top: 99%;
    width: calc(100% - 1px);
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: none;
    background-color: #f5f5f5;
    position: absolute !important;
  }
}
